body {
	background-image: url(https://images01.nicepage.com/page/50/53/website-template-preview-50537.jpg);
	background-size: cover;
}
.main-title {
	text-align: center;
	color: black;
}

.order-id-input-wrapper {
	width: 500px;
	margin: 25px auto;
}

.order-status-card {
	margin: 20px 0;
}
.order-status-card .card{
	border-radius: 20px ;
}
.order-status-card .card-header{
	background: #006491;
  color: white;
  border-radius: 20px 20px 0 0;
}

.order-status-card .card-footer{
	background: #e31837;
  color: white;
  border-radius: 0 0 20px 20px;
}

.order-status-card .card-text {
	margin-bottom: 0.5rem;
}
.card-text, p{
  margin-bottom: 0.5rem;
}

.order-status-card .rounded-pill {
	font-size: .85em;
  margin: auto;
}
